body{
    font-family: 'Google sans','note Myanmar UI',arial,sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}
/* .maindiv{
    position: absolute;
    top:50%;
    left:59%;
} */
.maindiv{
    border: 1px solid grey;

}
html{
    background: black;
}